<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <h3>Nosotros</h3>
        <p>Somos un grupo de desarrolladores que detectamos un problema en comun al aprender Javascript: La asincronia.</p>
        
        <h3>Que es la programacion asincrona?</h3>
        <p>La programación asíncrona es una de las grandes ventajas de Javascript y uno de los grandes secretos de la gestión de la concurrencia de Node.js, pero también es fuente de problemas, errores y confusiones, tanto para los programadores que están empezando, como para los más expertos.</p>
        <p>Utilizar la programación asíncrona para gestionar eventos ya puede llegar a ser algo complicado de comprender, pero cuando invocamos a una función o método y este nos pide un callback o nos devuelve una promesa para gestionar la respuesta de forma asíncrona, entonces es cuando realmente se nos empieza a complicar nuestra comprensión del código y su flujo de ejecución.</p>
    </div>
</div>


